{% extends 'base_teacher.html' %} <br />

{% load static %} <br />

{% block title %}Work{% endblock title %} <br />

{% block content %}

<style>
    
    a
    {
      text-decoration:none;
    }

    
    input
 {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 2rem;
  padding: 2px 2px;

}
input['file']
{
  height: 2rem;
}
input:focus,
textarea:focus {
  color:white;
}

  </style>

  {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li
    {%
    if
    message.tags
    %}
    class="bg-{{ message.tags }} p-4  text-center"
    {%
    endif
    %}
  >
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}

<ul class="list-group list-group-horizontal col-12">
    <li class="list-group-item col-3 text-center">
      <a href="{% url 'classshow' mainid %}">Stream</a>
    </li>
    <li class="list-group-item col-3 text-center bg-dark text-white">
      <a href="{% url 'addwork' mainid %}" >Work</a>
    </li>
    <li class="list-group-item col-3 text-center">
      <a href="{% url 'examview' mainid %}" >Exam Info</a>
    </li>
    <li class="list-group-item col-3 text-center"><a href="{% url 'peopleview'  mainid%}">People</a></li>
  </ul>
<div class="container">
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary mt-4 w-25"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add Work
  </button>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title " id="exampleModalLabel">Add Work</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body bg-dark text-white"><div class="tab-content">
            <div id="signup">   
          
              <form action="" method="post" class="text-dark" enctype="multipart/form-data">
              
                {% csrf_token %}
              
              
                {% for fm in form %}

                <label for="">{{fm.label_tags}}</label>
    
                    {{fm}}
                    <p class="text-danger">{{fm.errors|striptags}}</p>
           
                {% endfor %}
              
        
            <div class="text-center">
              <button type="submit" class="button button-block"/>Add Work</button>
            </div>
      
              </form>
      
            </div>
            
            
            
          </div><!-- tab-content --></div>
        
      </div>
    </div>
  </div>
</div>

<br>
<div class="container mt-4">
  <div class="list-group">
    {% for ann in allwork %}
    <li
      class="list-group-item d-flex justify-content-between align-items-center mb-4 p-3"
    >
    <a href="{% url 'showmywork' ann.id %}">  {{ann.mytopic}} </a>
      <span class="badge bg-primary rounded-pill"
        ><i
          class="fa-solid fa-ellipsis-vertical dropdown dropdown-toggle"
          id="navbarDropdown"
          data-bs-toggle="dropdown"
        >
        </i>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'editwork' ann.id %}">Edit</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="{% url 'deletework' ann.id  %}"
              >Delete</a
            >
          </li>
        </ul>
      </span>
    </li>

    {% endfor %}
  </div>
</div>
 
{% endblock content %}
