{% extends 'base_teacher.html' %} <br />
{% load static %} <br>
{% block title %}Change Password{% endblock title %} <br />

{% block content %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li
    {%
    if
    message.tags
    %}
    class="bg-{{ message.tags }} p-4 text-center"
    {%
    endif
    %}
  >
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}
<div class="form">
      
   
    
    <div class="tab-content">
      <div id="signup">   
        <h1>Change Password</h1>
        
        <form action="" method="post">
        
          {% csrf_token %}
        
        
          {% for fm in form %}
  
          <div class="field-wrap">
              {{fm}}
              <p class="text-danger">{{fm.errors|striptags}}</p>
          </div>
          
          {% endfor %}
 
        <div class='text-center'>
        <button type="submit" class="button button-block"/>Change Password</button>
      </div>
        </form>

      </div>
      
   
      
    </div><!-- tab-content -->
    
</div> <!-- /form -->
{% endblock content %}
