{% extends 'base_teacher.html' %} <br />

{% load static %} <br />

{% block title %}People{% endblock title %} <br />

{% block content %}
<link rel="stylesheet" href="{% static 'css/card.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<ul class="list-group list-group-horizontal col-12">
  <li class="list-group-item bg-dark text-white col-3 text-center">
    <a href="{% url 'class_view_work_teach' mainid %}">Stream</a>
  </li>
  <li class="list-group-item col-3 text-center text-white">
    <a href="{% url 'classworkviewteach' mainid %}">Work</a>
  </li>
  <li class="list-group-item col-3 text-center">
    <a href="{% url 'examview' mainid %}">Exam Info</a>
  </li>
  <li class="list-group-item col-3 text-center">
    <a href="{% url 'peopleview' mainid %}">People</a>
  </li>
</ul>

<div class="container mt-5">{% endblock content %}</div>
