{% extends 'base_teacher.html' %} <br />

{% load static %} <br />

{% block title %}Home{% endblock title %} <br />

{% block content %}

<link rel="stylesheet" href="{% static 'css/card.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<section class="wrapper">
  <div class="container">
    <div class="row">
      {% for cr in create %}
      <div class="col-lg-4 mt-5">
        <a href="{% url 'classshow' cr.id %}">
          <div class="card" style="width: 18rem">
            <div class="card-body">
              <h5 class="card-title">{{cr.class_code_name}}</h5>
              <p class="card-text">{{cr.subject_name}}</p>
              <p class="card-text">{{cr.section}}</p>
              <p class="card-text">Class Code: {{cr.classcode}}</p>
            </div>
            <hr class="mhr" />
            <div class="ms-1">
              <p>{{cr.user.first_name}}</p>
              <p>{{cr.user.email}}</p>
            </div>
            <hr />
            <div class="text-center">
              <a href="{% url 'deletecard' cr.id %}"
                ><i class="fa-solid fa-calendar-xmark me-3"></i
              ></a>
              <a href=""><i class="fa-solid fa-person"></i></a>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock content %}
