{% extends 'base_student.html' %} <br />

{% load static %} <br />

{% block title %}Course{% endblock title %} <br />

{% block content %} 

<h1 class="text-center text-dark mt-3 mb-5 fw-bold">All Course</h1>

<div class="container">
 
    <div class="row">
        {% for c in coursem %}
        <div class="col-lg-4 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="{{c.img_course.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{c.title}}</h5>
                  <p class="card-text">{{c.description}}</p>
                  <p>Course Mentor: {{c.teachercourse.username}}</p>
                  <a href="{% url 'details_course_view' c.id %}" class="btn btn-primary">Full Course</a>
                </div>
              </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}
