{% extends 'base_student.html' %} <br />

{% load static %} <br />

{% block title %}Work{% endblock title %} <br />

{% block content %}
<link rel="stylesheet" href="{% static 'css/card.css' %}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
  integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<ul class="list-group list-group-horizontal col-12">
  <li class="list-group-item text-white col-3 text-center">
    <a href="{% url 'class_view_work' mainid %}">Stream</a>
  </li>
  <li class="list-group-item bg-dark col-3 text-center text-white">
    <a href="{% url 'classworkview' mainid %}">Work</a>
  </li>
  <li class="list-group-item col-3 text-center">
    <a href="">Exam Info</a>
  </li>
  <li class="list-group-item col-3 text-center"><a href="">People</a></li>
</ul>

<div class="container mt-5">
  <ul class="list-group">
    {% for work in classwork %}
    <li class="list-group-item mb-4" aria-current="true">
      <a href="{% url 'addclassworkfullview' work.id %}">{{work.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock content %}
